<!DOCTYPE html>
<html>

<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/theme.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LAVA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
                <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <main class="col-md-12">

                <!-- Start your code here -->
                <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Demo - FIFA Cricket World</title>
</head>
<body>

    <!-- Tables Section -->
                <section id="tables">
                    <h2>Tables Section</h2>
                    <h3>Table 1: Countries by Continent</h3>
                    <h4>Overview</h4>
                    <p>The table titled "Countries by Continent" is designed to list countries grouped by their
                        respective continents. It includes a header, a body, and a caption, making use of various HTML
                        table elements and properties to display the data effectively.</p>
                    <table class="table table-bordered">
                        <caption>List of countries by their continents</caption>
                        <thead>
                            <tr>
                                <th>Continent</th>
                                <th>Countries</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="3">Asia</td>
                                <td>India, Pakistan, Sri Lanka</td>
                            </tr>
                            <tr>
                                <td>Afghanistan, Bangladesh</td>
                            </tr>
                            <tr>
                                <td>Nepal, Bhutan</td>
                            </tr>
                            <tr>
                                <td>Africa</td>
                                <td>Nigeria, South Africa, Kenya</td>
                            </tr>
                            <tr>
                                <td>Europe</td>
                                <td>England, Ireland, Scotland</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Table 2: Cricket World Cup Winners</h3>
                    <h4>Overview</h4>
                    <p>The table titled "Cricket World Cup Winners" lists the countries that have won the Cricket World
                        Cup, the number of times they have won, and the specific years in which they won. This table
                        provides a historical overview of the tournament's winners.</p>
                    <table class="table table-bordered">
                        <caption>List of FIFA Cricket World Cup Winners</caption>
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Number of Wins</th>
                                <th>Years</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Australia</td>
                                <td>5</td>
                                <td>1987, 1999, 2003, 2007, 2015</td>
                            </tr>
                            <tr>
                                <td>India</td>
                                <td>2</td>
                                <td>1983, 2011</td>
                            </tr>
                            <tr>
                                <td>West Indies</td>
                                <td>2</td>
                                <td>1975, 1979</td>
                            </tr>
                            <tr>
                                <td>Sri Lanka</td>
                                <td>1</td>
                                <td>1996</td>
                            </tr>
                            <tr>
                                <td>Pakistan</td>
                                <td>1</td>
                                <td>1992</td>
                            </tr>
                            <tr>
                                <td>England</td>
                                <td>1</td>
                                <td>2019</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>This section includes two tables: one listing countries by continent and another listing FIFA
                        Cricket World Cup winners with relevant details.</p>
                </section>

                <section id="lists">
                    <h2>Countries by Continent in Cricket World Cup</h2>
                    <ul>
                        <li>Africa
                            <ul>
                                <li>South Africa</li>
                                <li>Zimbabwe</li>
                                <li>Kenya</li>
                            </ul>
                        </li>
                        <li>Asia
                            <ul>
                                <li>India</li>
                                <li>Pakistan</li>
                                <li>Sri Lanka</li>
                                <li>Afghanistan</li>
                                <li>Bangladesh</li>
                            </ul>
                        </li>
                        <li>Australia & Oceania
                            <ul>
                                <li>Australia</li>
                                <li>New Zealand</li>
                            </ul>
                        </li>
                        <li>Europe
                            <ul>
                                <li>England</li>
                                <li>Ireland</li>
                                <li>Scotland</li>
                                <li>Netherlands</li>
                            </ul>
                        </li>
                        <li>North America
                            <ul>
                                <li>Canada</li>
                                <li>United States</li>
                            </ul>
                        </li>
                        <li>South America
                            <ul>
                                <li>None</li>
                            </ul>
                        </li>
                    </ul>

                    <p>This list categorizes countries participating in the Cricket World Cup by their respective
                        continents.</p>
                </section>

                <section id="images">
                    <h2>Images Section</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://media.gettyimages.com/id/1563231746/photo/the-international-cricket-council-mens-cricket-world-cup-trophy-on-display-during-the-2nd-odi.jpg?s=612x612&w=gi&k=20&c=BJl2qgrijfnCkKyb9Mpju4j8pKlPJO44PAJr3hZAzFY="
                                alt="Snowboarder in halfpipe" width="400" height="500">
                            <p>Cricket World Cup Trophy</p>
                        </div>
                        <div class="col-md-4">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Pollock_to_Hussey.jpg"
                                alt="cricket imgae" width="400" height="500">
                            <p>Cricket Ground</p>
                        </div>
                        <div class="col-md-4">
                            <img src="https://cdn.britannica.com/63/211663-050-A674D74C/Jonny-Bairstow-batting-semifinal-match-England-Australia-2019.jpg"
                                alt="Players Image" width="400" height="500">
                            <p>Players Image.</p>
                        </div>
                    </div>
                    <p>This section displays three images with accompanying alt text.</p>
                </section>

                <section id="audio">
                    <h2>Audio Section</h2>
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
                            type="audio/mp3">
                    </audio>
                    <p> Click the play button to play the audio.</p>
                </section>

                <section id="video">
                    <h2>Video Section</h2>
                    <video controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
                            type="video/mp4">
                    </video>
                    <p>Click the play button to play the video.</p>
                </section>
               
</body>
</html> 
                <!-- End your code here  -->

            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
    